.body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: 'Work Sans';
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: space-evenly;
  width: 80vw;
  height: 100vh;
  background: orange;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 100vh;
  background: darkcyan;
}

.header {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 80vw;
  background: skyblue;
}

.center {
  display: flex;
  position: absolute;
  margin-top: 15vh;
  width: 80vw;
  justify-content: space-between;
  height: 50vh;
  background: indianred;
}

.lower {
  display: flex;
  position: absolute;
  margin-top: 65vh;
  width: 80vw;
  justify-content: space-between;
  height: 35vh;
  background: gold;
}

.icon {
  height: 15vh;
  width: 15vh;
  position: absolute;
  background: yellowgreen;
}

.icon img {
  height: 13vh;
  width: 13vh;
  padding: 1vh;
}

.header-text {
  position: absolute;
  margin-left: 15vh;
  font-family: 'Work Sans';
  font-size: 4vw;
  display: flex;
  justify-content: flex-start;
}

.center-left {
  display: flex;
  height: 50vh;
  width: 55vw;
  background: rebeccapurple;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.center-right {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 55vw;
  height: 50vh;
  width: 25vw;
  justify-content: space-between;
  background: darkolivegreen;
}

.lower-box {
  display: flex;
  width: 26.5vw;
  height: 35vh;
  background: pink;
}

.center-right-box {
  display: flex;
  height: 16vh;
  width: 25vw;
  background: aquamarine;
}

.sidebar-box {
  display: flex;
  height: auto;
  width: 20vw;
  background: tan;
}

.work-on {
  display: flex;
  height: 15vh;
  border-radius: 15px;
  width: 27vw;
  align-items: center;
  justify-content: space-evenly;
}

.work-on-inner {
  display: flex; 
  flex-direction: column;
  height: 10vh;
  width: 10vw;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
  padding-right: 0.5vw;
}

.work-on-inner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 10vh;
  width: 6vw;
}

.work-on-inner-text-heading {
  padding-top: 0.5vh;
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 1vw;
}

.work-on-inner-text-sub {
  padding-top: 1vh;
  font-family: 'Work Sans';
  font-size: 0.9vw;
}

.work-on-inner-heading {
  padding-top: 0.5vh;
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 0.9vw;
  color: black;
  margin-left: 0.5vw;
}

.work-on-inner-sub {
  padding-top: 1vh;
  font-family: 'Work Sans';
  font-size: 0.8vw;
  color: gray;
  margin-left: 0.5vw;
}
